<a href="https://colab.research.google.com/github/f296402/MystanCodeProJects/blob/main/ccclub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("arshkon/linkedin-job-postings")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/linkedin-job-postings

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load the job postings data
postings = pd.read_csv('/kaggle/input/linkedin-job-postings/postings.csv')

# Show first 5 rows
postings.head()

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,Requirements: \n\nWe are seeking a College or ...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,...,NaN,1.712858e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,83200.0,80521.0,8069.0
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,We are currently accepting resumes for FOH - A...,1.713278e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,55000.0,45202.0,39061.0
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",766262.0,16.0,NaN,...,This position requires a baseline understandin...,1.712896e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,11040.0,36059.0
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,NaN,...,NaN,1.713452e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,70000.0,52601.0,19057.0

In [ ]:

print("Shape:", postings.shape)
print("Columns:", postings.columns.tolist())


postings.isnull().sum()

Shape: (123849, 31)
Columns: ['job_id', 'company_name', 'title', 'description', 'max_salary', 'pay_period', 'location', 'company_id', 'views', 'med_salary', 'min_salary', 'formatted_work_type', 'applies', 'original_listed_time', 'remote_allowed', 'job_posting_url', 'application_url', 'application_type', 'expiry', 'closed_time', 'formatted_experience_level', 'skills_desc', 'listed_time', 'posting_domain', 'sponsored', 'work_type', 'currency', 'compensation_type', 'normalized_salary', 'zip_code', 'fips']

job_id                             0
company_name                    1719
title                              0
description                        7
max_salary                     94056
pay_period                     87776
location                           0
company_id                      1717
views                           1689
med_salary                    117569
min_salary                     94056
formatted_work_type                0
applies                       100529
original_listed_time               0
remote_allowed                108603
job_posting_url                    0
application_url                36665
application_type                   0
expiry                             0
closed_time                   122776
formatted_experience_level     29409
skills_desc                   121410
listed_time                        0
posting_domain                 39968
sponsored                          0
work_type                          0
currency                       87776
compensation_type              87776
normalized_salary              87776
zip_code                       20872
fips                           27415
dtype: int64

In [ ]:
from os import path
from datetime import date
import pandas as pd
date_path='/content/clean_jobs (1).csv'
df=pd.read_csv(date_path)

In [ ]:
df

,id,title,company,location,link,source,date_posted,work_type,employment_type,description
0,1,Data Analyst,Meta,"New York, NY",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
1,2,Data Analyst,Meta,"San Francisco, CA",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
2,3,Data Analyst,Meta,"Los Angeles, CA",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
3,4,Data Analyst,Meta,"Washington, DC",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
4,5,Data Analyst II,Pinterest,"Chicago, IL",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-16,NaN,NaN,About Pinterest\n\nMillions of people around t...
...,...,...,...,...,...,...,...,...,...,...
1043,2521,Senior GIS/Data Management Analyst,"Carollo Engineers, Inc.","Arlington, VA, US",https://www.indeed.com/viewjob?jk=d21d387bd349...,indeed,2025-06-10,NaN,NaN,Overview:\n\nCarollo Engineers is an internati...
1044,2531,Data Science Senior Associate - Card Data & An...,JPMorganChase,"Wilmington, DE, US",https://www.indeed.com/viewjob?jk=80450a9ec23a...,indeed,2025-06-11,NaN,NaN,**JOB DESCRIPTION** \n\nJoin our Card Data \&...
1045,2532,Vice President Data Scientist Marketing Analyt...,JPMorganChase,"Columbus, OH, US",https://www.indeed.com/viewjob?jk=96df9a9fdbad...,indeed,2025-06-11,NaN,NaN,**JOB DESCRIPTION** \n\nWe’re driven by curio...
1046,2533,Lead Data Scientist - Finance Technology,JPMorganChase,"Jersey City, NJ, US",https://www.indeed.com/viewjob?jk=d25ce3283b43...,indeed,2025-06-11,NaN,NaN,**JOB DESCRIPTION** \n\nJoin our Finance Tech...
1047,2534,Applied AI/ML - Vice President,JPMorganChase,"New York, NY, US",https://www.indeed.com/viewjob?jk=cb932aabb3ef...,indeed,2025-06-11,NaN,NaN,**JOB DESCRIPTION** \n\nAs part of the Commer...

In [ ]:
df.head()

,id,title,company,location,link,source,date_posted,work_type,employment_type,description
0,1,Data Analyst,Meta,"New York, NY",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
1,2,Data Analyst,Meta,"San Francisco, CA",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
2,3,Data Analyst,Meta,"Los Angeles, CA",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
3,4,Data Analyst,Meta,"Washington, DC",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
4,5,Data Analyst II,Pinterest,"Chicago, IL",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-16,NaN,NaN,About Pinterest\n\nMillions of people around t...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048 entries, 0 to 1047
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1048 non-null   int64
 1   title            1048 non-null   object
 2   company          1046 non-null   object
 3   location         1033 non-null   object
 4   link             1048 non-null   object
 5   source           959 non-null    object
 6   date_posted      1025 non-null   object
 7   work_type        0 non-null      float64
 8   employment_type  0 non-null      float64
 9   description      1044 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 82.0+ KB

In [ ]:
print(df.isnull().sum())        # 計算各欄位的缺失值數量
print('--------------------------------')
print(df.isnull().sum(axis=1))  # 計算各筆資料的缺失值數量

id                    0
title                 0
company               2
location             15
link                  0
source               89
date_posted          23
work_type          1048
employment_type    1048
description           4
dtype: int64
--------------------------------
0       2
1       2
2       2
3       2
4       2
       ..
1043    2
1044    2
1045    2
1046    2
1047    2
Length: 1048, dtype: int64

# Data visualizations¶
1.分佈地點位置
2.